<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="SysOut" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} - [%t/%level] - %style{(%logger{36})}{blue,bold} - %highlight{%msg}{ERROR=red, WARN=yellow, INFO=default, DEBUG=default}%n"
                    disableAnsi="false"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="SysOut"/>
        </Root>
    </Loggers>
</Configuration>